*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eeddff;
  font-family: 'Lucida Grande' , verdana, sans-serif;
}

header, footer{
  background: #323d35;
  color: white;
  font-family: serif;
  margin: 0;
  padding: 1rem;
  
}

.intro, aside{
  padding: 2rem;
}

.projects {
  background-color:#ba82ab;
  padding:2rem;
 
}

.labs{
  background-color:#e695db;
  padding: 2rem;
}


.projects li, .labs li {
  border: 3px solid #52364a;
  margin: 10px;
  padding: 10px;
  width: 12rem;
  height:12rem;
  display: inline-block;
  align-items: center;
  
}

ol{
  list-style: none;
  padding:0;
}

@media screen and (min-width: 600px){
  
  body {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 150px 6fr 150px;
  }
  
  header, footer{
    grid-column: 1/3;
    margin:0;
  }
 
  .projects ol{
    display:flex;
  }
  .labs ol{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.projects li, .labs li{
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-in;
}

.projects li:hover{
  border: 8px solid  #52364a;
  box-shadow: 12px 12px 12px #a86d98;
  background-color:#d395c2; 
}

.labs li:hover{
  border: 8px solid  #52364a;
  box-shadow: 12px 12px 12px #a86d98;
  background-color: #f7b0ed; 
}

}